<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464453045778-k6foc6mq3itog65ipp2v2j92iqui5c9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464453045778-k6foc6mq3itog65ipp2v2j92iqui5c9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMaAfu4u0HFMlBoozVhp7ZaPx8UmOgDWU</string>
	<key>GCM_SENDER_ID</key>
	<string>464453045778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-9e03b</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-9e03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464453045778:ios:de6a47f980ebf41adf92cb</string>
</dict>
</plist>